{% extends "base.html" %} 

{% block start %}

<div style="margin-left: 430px">
  <form class="col-md-6 shadow p-4 m-3" method="post">
    {% csrf_token %}
    <h4>UPDATE RECIPE</h4>
    <div class="mb-3">
      <label class="form-label">Recipe Name</label>
      <input type="text" value="{{recipe.recipe_name}}" name="recipe_name" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Desciption</label>
      <textarea class="form-control" name="recipe_desc" rows="3">{{recipe.recipe_desc}}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Rating</label>
        <input type="number" value="{{recipe.recipe_rating}}" name="recipe_rating" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success" style="width: 100%">
      Update
    </button>
  </form>
</div>


{% endblock %}
